@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit,serif';
}

.basic-layout{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    /* background-color: yellow; */
}

.content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.sidebar{
    display: none;
}

.middle{
    background-image: url("/public/images/red-image.avif");
    background-size: cover;
    flex: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* overflow: auto; */

}

.footer-main{
    box-shadow: 1px 1px 10px black;
    border-radius: 5px;
}